.notice-box {
	background: #fff;
	margin-bottom: 20px;
	padding: 5px;
}

.notice-user {
	background: orange;
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 2px solid #000;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
}

.notice-name {
	font-weight: 500;
}